{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AnnoMathTex</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/helperFunctions.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/posting.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/rendering.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/annotating.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">

  <script>
    //var tokenContent;
    var uniqueID;
    var mathEnv;
    var recommendations = {};
    var annotations = {};
    var linkedWords = JSON.parse("{{ File.linked_words|escapejs }}")['linkedWords'];
    var linkedMathSymbols = JSON.parse("{{ File.linked_math_symbols|escapejs }}")['linkedMathSymbols'];
    var fileName = "{{ File.file_name|escapejs }}";
    var identifierCount = "{{ File.identifier_count|escapejs }}";
    var formulaCount = "{{ File.formula_count|escapejs }}";
    var tokenUniqueId;
    var preservedResultList;
    var sourceWithNums = {};
    var manualRecommendations = {};
    var isFormula;
    var content;
    var tmpResultList;
    var editMode = false;
    var editModeOnText = 'Turn on edit mode'
    var editModeOffText = 'Turn off edit mode'
  </script>
</head>
<body>

<form method="POST" id="post-form">
    {% csrf_token %}
    <button id="update-article-submit" style="display:none;" type="button" name="edited-article-submit" onclick="updateArticleContent();">
      Save changes
    </button>
    <button id="save-article-submit" type="submit" name="post-form-submit2" onclick="save();">
      Save
    </button>
    <button id="edit-mode-toggle" type="button" name="edit-mode-toggle" onclick="toggleEditMode();">
      Turn on edit mode
    </button>
</form>
<h3 id="documentName" style="left: 50%;"></h3>

<div contentEditable="true" id="edit-mode-article" style="display:none;">
</div>

<div id="wikipedia-article-content">
  <div id="identifierAnnotationsCount"></div>
  <div id="formulaAnnotationsCount"></div>

  <div id="annotationsHolder"></div></br>

  <div id="popupModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <h3 id="popupModalHeader"></h3>
    <span class="close" id="span">&times;</span>
    <label><input id="localSwitch" type="checkbox" >Local</label>
    <br>
    <div>
      <label for="noMatchInput">No match: </label>
      <input type="text" id="noMatchInput" placeholder="" onclick="noMatchInputListener()" required size="20" minlength="3" maxlength="60">
      <!--<span class="validity"></span>-->
      <button id="noMatchSubmit">Submit</button>
    </div>
    <p>
      <span id="tokenTypeText"></span>
      <input id="highlightedText" type="text" name="editableMathEnv"></input>
      <button id="tokenUpdateBtn">Update</button>
    </p>
    <button id="rejectHighlightingButton" onclick="rejectHighlightingListener()">placeholder</button>
    <br>
    <!--<div id="annotatedIdentifiers"></div>
    <div id="annotatedFormulae"></div>-->
    <div id="annotationsCountTable"></div>
    <div id="tableholder"></div>
  </div>
  </div>

  <div id="articleTextContent">
    {% for Line in File.body %}
      <div>
          {% for Token in Line %}
            {% if not Token.content == None %}
              {% if Token.type == 'Formula' or Token.type == 'Identifier'%}
                <span
                  class="inline {{ Token.type }}"
                  id="{{ Token.unique_id }}"
                  onmouseover=""
                  style="color: {{ Token.highlight }}; cursor: pointer;"
                >{{ Token.content }}</span>
              {% else %}
                <span
                  class="inline"
                  id="{{ Token.unique_id }}"
                  style="color: {{ Token.highlight }};"
                >{{ Token.content }}</span>
              {% endif %}
              <script>                
                //this part of js has to be in the loop, otherwise the unique_id will be lost
                //try catch not working yet, error happens when a backslash is in the text part
                  $("#{{ Token.unique_id }}").on('click', function (event) {
                    event.preventDefault();
                    //console.log('wikidata query sent out');

                    var jsonContent = "{{ Token.json_content|escapejs }}";
                    var jsonMathEnv = "{{ Token.json_math_env|escapejs  }}";


                    try {
                      clickToken(jsonContent,
                                jsonMathEnv,
                                "{{ Token.unique_id }}",
                                "{{ Token.type }}"
                                );
                    } catch (e) {
                      console.log(e);
                    }
                  });
              </script>

            {% endif %}
            {% if Token.endline %}
                </br>
            {% endif %}
          {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>



<script>
  $("#noMatchSubmit").on('click', function (event) {
    event.preventDefault();
    handleNoMatch();
  });
</script>

<script>

    document.getElementById('documentName').innerHTML = fileName;

    var existingAnnotations = "{{ File.existing_annotations|escapejs }}";
    handleExistingAnnotations(existingAnnotations);

    function save() {
      alert('Annotations Saved');
      var win = window.open("https://forms.gle/MGDSmy8686DCA4477", '_blank');
      win.focus();
    }

    function toggleEditMode(){
      console.log(fileName)
      editMode = !editMode;

      const saveBtn = document.getElementById('save-article-submit')
      const saveChangesBtn = document.getElementById('update-article-submit')
      const editModeBtn = document.getElementById('edit-mode-toggle')
      const articleContent = document.getElementById('wikipedia-article-content')
      const articleTextContent = document.getElementById('edit-mode-article')
      
      if(editMode){
        try {
          articleContent.style.display = 'none'
          saveBtn.style.display = 'none'
          saveChangesBtn.style.display = 'inline'
          editModeBtn.innerText = editModeOffText
          editArticle();
        } catch (e) {
          console.log(e);
        }
      } else {
        articleContent.style.display = 'block'
        saveBtn.style.display = 'inline'
        saveChangesBtn.style.display = 'none'
        editModeBtn.innerText = editModeOnText
        articleTextContent.innerText = ''
        articleTextContent.style.display = 'none'
      }
    }
</script>

<script>
  $("#tokenUpdateBtn").on('click', function (event) {
    event.preventDefault();

    // Fetch all DOM nodes
    const articleContent = document.getElementById('articleTextContent') 
    const local = document.getElementById('localSwitch').checked
    const newTokenText = document.getElementById('highlightedText').value
    const annotationsSaveBtn = document.getElementById('save-article-submit')
    const newMathEnv = mathEnv.replace(content, newTokenText)

    // TODO: Local is buggy. WIP. To be resumed after bug fix.
    if(local){}
    else{
      const uniqueIDs = linkedMathSymbols[content]

      // Delete annotation because of change
      if(annotations['global'][content]) {
        deleteGlobalAnnotation(content)
        annotationsSaveBtn.click();
      }

      if(isFormula){
        let idx = 0;
        
        // For every instance of the formula
        while(uniqueIDs[idx]){
          // Create new formula dom element from text
          const newFormula = document.createElement('span');
          newFormula.textContent = newTokenText

          // Delete all elements between $..$
          const startFormula = document.getElementById(uniqueIDs[idx])
          const endFormula = document.getElementById(uniqueIDs[idx + 1])

          while (startFormula.nextSibling !== endFormula) {
            startFormula.nextSibling.remove();
          }
      
          // Insert into DOM
          endFormula.before(newFormula);
      
          idx += 2;
        }
      } else {
        uniqueIDs.forEach(uID => {
          let token = articleContent.querySelector(`[id='${uID}']`)
  
          token.innerHTML = newTokenText
        })
      }
    
      let formulaStrings = articleContent.querySelectorAll('.Formula')
      
      // Convert all $..$ to mathml element
      formulaStrings.forEach(el => {
        let tokenUID = el.id
        let nextTokenID = tokenUID.replace(/(\d+)$/, match => parseInt(match) + 1);
        let nextToken = articleContent.querySelector(`[id='${nextTokenID}']`)
        
        if(nextToken?.classList?.contains('Identifier')) el.textContent = '<math>' 
        else el.textContent = '</math>'
      })

      updateArticleContent(articleContent.innerText);
    }
  })
</script>

</body>
</html>
